<ion-header>
  <ion-toolbar>
    <ion-title>{{ user?.firstName }}</ion-title>

    <ion-icon (click)="onIconClick()" name="settings-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Mes animaux</h2>

  <ion-avatar>
    <!--<img src="URL_DE_VOTRE_IMAGE" alt="Silhouette of a person's head" /> -->
  </ion-avatar>

  <ion-list class="myAnimalsProfil no-lines">
    <ion-row>
      <ion-col size="6" *ngFor="let animal of animals">
        <ion-item>
          <ion-label>
            <div class="image-container">
              <img
                id="animalProfilPictures"
                (click)="toggleSelection(animal)"
                [src]="animal.profilePictureURL"
                [class.selected]="animalSelected == animal"
              />
            </div>
            <h2 class="animalName">
              {{ animal.name }}
              <ion-icon
                (click)="updateAnimal(animal)"
                name="create-outline"
              ></ion-icon>
            </h2>

            <h6 class="species">{{ animal.species }}</h6>
          </ion-label>
          <ion-buttons slot="end">
            <!-- Vous pouvez ajouter ici votre icône à la place du bouton "Modifier" -->
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

  <div class="bouton-container">
    <ion-buttons class="boutonPrimaire">
      <ion-button (click)="createAnimal()"> Créer un animal </ion-button>
    </ion-buttons>
  </div>

  <!-- MATCHES -->

  <h2>Mes matchs</h2>
  <ion-list class="myAnimalsProfil">
    <ion-row>
      <ion-col size="6" *ngFor="let matche of matches">
        <ion-item>
          <ion-avatar slot="">
            <!-- <img src="URL_DE_VOTRE_IMAGE" alt="Silhouette of a person's head" /> -->
          </ion-avatar>
          <ion-label>
            <img
              id="animalProfilPictures"
              src="{{matche.animal2.profilePictureURL}}"
              (click)="afficheProfil(matche.animal2)"
            />
            <h2>
              {{matche.animal1.name}} a matché avec {{ matche.animal2.name}}
            </h2>
            <p id="profil">{{matche.date.toLocaleDateString("fr")}}</p>
            <!-- Ajoutez d'autres propriétés de votre objet animal que vous souhaitez afficher -->
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

  <!-- Autre contenu ici -->
</ion-content>
