#reglage {
    --border-radius: 4px;
    font-size: 24px;
}

.animalName {
    color: #1D3752;
    font-family: 'Just Another Hand', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: center;
}

.species {
    color: grey;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 10px;
    text-align: center;
}

.image-container {
    position: relative;
    height: 100%;
    display: flex;

}

#animalProfilPictures {
    width: 200px;
    height: 240px;
    border-radius: 20px;
    border: none;
}

#animalProfilPictures.selected {
    border: 2px solid #1D3752;
}

ion-icon {
    font-size: 25px;
    font-weight: 200;
    color: #1D3752;
    margin-right: 10px;
}

.animalName {
    color: #1D3752;
    font-family: 'Just Another Hand', cursive;
    /* Assurez-vous de mettre le nom de la police entre apostrophes */
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 10px;
    /* Ajustez la marge selon vos préférences */
    text-align: center;
    /* Aligner le texte horizontalement au centre */
}

.species {
    color: grey;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    margin-bottom: 10px;
    /* Ajustez la marge selon vos préférences */
    text-align: center;
    /* Aligner le texte horizontalement au centre */
}

.myAnimalsProfil {
    // display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
}

.animalProfile {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #1D3752;
    border-radius: 10px;
    box-sizing: border-box;
}

#profil {
    align-items: center;
    margin: auto;
    width: 50%
}

/*.petitBouton {
   
    color: #1D3752;;
}*/