<ion-header>
  <ion-toolbar>
    <ion-title>{{ user?.firstName }}</ion-title>
    <ion-icon
      id="reglage"
      (click)="onIconClick()"
      src="../../assets/icon/reglage.svg"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar>
    <!--<img src="URL_DE_VOTRE_IMAGE" alt="Silhouette of a person's head" /> -->
  </ion-avatar>
  <ion-list>
    <ion-item *ngFor="let animal of animals">
      <ion-avatar slot="start">
        <!--<img src="URL_DE_VOTRE_IMAGE" alt="Silhouette of a person's head" /> -->
      </ion-avatar>
      <ion-label>
        <h2>{{ animal.name }}</h2>
        <p>{{ animal.species }}</p>

        <!-- Ajoutez d'autres propriétés de votre objet animal que vous souhaitez afficher -->
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Autre contenu ici -->
</ion-content>
