<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/meeting"></ion-back-button>
    </ion-buttons>
    <ion-title>Modifier le profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container ion-text-center">
    <div class="square">
      <img class="squareImg" src="{{currentAnimal?.profilePictureURL}}" />
    </div>
    <div class="heart">
      <svg
        id="#iconHeart"
        xmlns="http://www.w3.org/2000/svg"
        width="73"
        height="79"
        viewBox="0 0 38 35"
        fill="none"
      >
        <path
          d="M37.375 11.5234C37.375 23.8281 20.347 33.7879 19.6218 34.1992C19.4307 34.3094 19.217 34.367 19 34.367C18.783 34.367 18.5693 34.3094 18.3782 34.1992C17.653 33.7879 0.625 23.8281 0.625 11.5234C0.62804 8.63399 1.70069 5.86382 3.60763 3.82068C5.51457 1.77753 8.10006 0.628257 10.7969 0.625C14.1848 0.625 17.151 2.18594 19 4.82441C20.849 2.18594 23.8152 0.625 27.2031 0.625C29.8999 0.628257 32.4854 1.77753 34.3924 3.82068C36.2993 5.86382 37.372 8.63399 37.375 11.5234Z"
          fill="#F55347"
        />
      </svg>
    </div>
    <div class="square">
      <img class="squareImg" src="{{selectedAnimal?.profilePictureURL}}" />
    </div>
  </div>

  <div class="text-container">
    <h5>Vous avez matché!</h5>
    <div class="text-container-deux">
      <h4>
        Une promenade ensemble s’impose. Retrouve Olive dès à présent sur ta map
      </h4>
    </div>
  </div>
</ion-content>
