<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="map" href="/map">
      <ion-icon aria-hidden="true" src="assets/icon/mapmenu.svg"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meeting" href="/meeting">
      <ion-icon
        aria-hidden="true"
        src="../../assets/icon/patemenu.svg"
      ></ion-icon>
      <ion-label>Meeting</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profil" href="/profil">
      <ion-icon
        aria-hidden="true"
        src="assets/icon/personnemenu.svg"
      ></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
