<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <h1>L'actualité de {{currentAnimal?.name}}</h1>

    <ion-button (click)="voirSurLaCarte()">Voir sur la carte</ion-button>
    <div class="custom-shape">
      <h1 id="nameAnimal">{{currentAnimal?.name}}</h1>
      <ul class="custom-list">
        <li>
          <ion-icon class="pasIcon" name="paw"></ion-icon>
          {{currentAnimal?.species}}
        </li>
        <li>
          <ion-icon class="pasIcon" name="paw"></ion-icon>
          {{currentAnimal?.age}}
        </li>
        <li>
          <ion-icon class="pasIcon" name="paw"></ion-icon>
          {{currentAnimal?.location}}
        </li>
        <li>
          <ion-icon class="pasIcon" name="paw"></ion-icon>
          {{currentAnimal?.favoriteActivities}}
        </li>
      </ul>
    </div>
  </div>

  <div class="custom-img">
    <img src="{{currentAnimal?.profilePictureURL}}" alt="image de l'animal" />
  </div>

  <!-- mettre l'image de l'animal-->
</ion-content>
