<form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input
        inputmode="text"
        #firstNameInput="ngModel"
        required="true"
        name="firstName"
        [(ngModel)]="firstName"
      ></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="firstNameInput.invalid && firstNameInput.touched"
    >
      <ion-text color="danger">Veuillez saisit un prénom</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input
        inputmode="text"
        #lastNameInput="ngModel"
        required="true"
        name="lastName"
        [(ngModel)]="lastName"
      ></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="lastNameInput.invalid && lastNameInput.touched"
    >
      <ion-text color="danger">Veuillez saisit un nom</ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        inputmode="email"
        #emailInput="ngModel"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        name="email"
        [(ngModel)]="email"
      ></ion-input>
    </ion-item>
    <ion-item lines="none" *ngIf="emailInput.invalid && emailInput.touched">
      <ion-text color="danger" *ngIf="emailInput.errors?.['required']">
        Veuillez saisir une adresse e-mail.
      </ion-text>
      <ion-text color="danger" *ngIf="emailInput.errors?.['pattern']">
        Adresse e-mail non valide.
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        inputmode="password"
        #passwordInput="ngModel"
        required
        pattern="^(?=.*[A-Z])[a-zA-Z\d!@#$%^&*]{5,}$"
        type="password"
        name="password"
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="passwordInput.invalid && passwordInput.touched"
    >
      <ion-text color="danger" *ngIf="passwordInput.errors?.['required']">
        Veuillez saisir un mot de passe.
      </ion-text>
      <ion-text color="danger" *ngIf="passwordInput.errors?.['pattern']">
        Le mot de passe doit contenir au moins 5 caractères et une lettre
        majuscule.
      </ion-text>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <!-- Submit button -->

    <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">
      Sign up
    </ion-button>
    <ion-text color="danger" *ngIf="signupError">
      Cette adresse email est déjà utilisée...
    </ion-text>
    <p>Already have an account ? <a href="/login">login</a></p>
  </div>
</form>
!
