/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


h3 {
    color: #1D3752;
        text-align: center;
        font-family: League Spartan;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

}

h2 {
    color: #1D3752;
    text-align: center;
    font-family: League Spartan;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.boutonPrimaire ion-button {
    display: flex;
    width: 171px;
    height: 44px;

    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 40px;
    background: #1D3752;
}

.bouton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top : 20px;
    margin-bottom: 30px;

 
    /* Ajustez la hauteur selon vos besoins */
}

.deleteButton ion-button{
        display: flex;
        width: 133px;
        height: 31px;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        color: #FFF;
        text-align: center;
        font-family: League Spartan;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background-color: #F55347;
        border-radius: 40px;
}

